PROKURA_CATALOG_HOST_PORT=5101
PROKURA_INVENTORY_HOST_PORT=5102
PROKURA_CUSTOMER_HOST_PORT=5103
PROKURA_ORDER_HOST_PORT=5104
PROKURA_REPORTING_HOST_PORT=5105
PROKURA_DB_USER=prokura
PROKURA_DB_PASSWORD=change-me
PROKURA_DB_NAME=prokuradb
