PROKURA_API_GATEWAY_HOST_PORT=5010
PROKURA_CATALOG_HOST_PORT=5101
PROKURA_INVENTORY_HOST_PORT=5102
PROKURA_CUSTOMER_HOST_PORT=5103
PROKURA_ORDER_HOST_PORT=5104
PROKURA_REPORTING_HOST_PORT=5105
PROKURA_WEB_HOST_PORT=3011
PROKURA_ADMIN_HOST_PORT=8501
PROKURA_DB_USER=prokura
PROKURA_DB_PASSWORD=change-me
PROKURA_DB_NAME=prokuradb
PROKURA_PUBLIC_API_BASE_URL=https://prokura-api.tierratie.com
PROKURA_PUBLIC_WEB_URL=https://prokura-web.tierratie.com
